.app {
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
}

.pokedex {
    width: 100%;
    height: 60%;
    padding: 4rem 2rem;
    overflow-y: scroll;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1rem;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: .5rem;
    font-family: Roboto, sans-serif;
}

.pokedex::-webkit-scrollbar {
    width: 8px;
}
  
.pokedex::-webkit-scrollbar-track {
    background: #F04732;
    border-radius: .5rem;
}
  
.pokedex::-webkit-scrollbar-thumb {
    background-color: #fff;
    border-radius: 20px;
    border: 2px solid #000;
}

.link {
    text-decoration: none;
}

@media (min-width: 1200px) {
    .pokedex {
        height: 65%;
        row-gap: .2rem;
    }
}



/* .pokedex {
    width: 100%;
    height: 72%;
    padding: 4rem 2rem;
    overflow-y: scroll;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1rem;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: .5rem;
    font-family: Roboto, sans-serif;
}

.pokedex::-webkit-scrollbar {
    width: 8px;
}
  
.pokedex::-webkit-scrollbar-track {
    background: #F04732;
    border-radius: .5rem;
}
  
.pokedex::-webkit-scrollbar-thumb {
    background-color: #fff;
    border-radius: 20px;
    border: 2px solid #000;
}

.link {
    text-decoration: none;
} */