.search-bar>input {
    width: 14rem;
    height: 1.5rem;
    font-size: 1.2rem;
    padding-left: .5rem;
    border-radius: 1.2rem;
    font-family: Roboto, sans-serif;
}

@media (min-width: 425px) {
    .search-bar>input {
        width: 18rem;
        height: 2.5rem;
    }
}

@media (min-width: 1200px) {
    .search-bar>input {
        font-size: 1.4rem;
    }
}


/* .search-bar {
    margin-top: 1.5rem;
}
.search-bar>input {
    width: 16rem;
    height: 2.5rem;
    font-size: 1.4rem;
    padding-left: .5rem;
    border-radius: 1.2rem;
    font-family: Roboto, sans-serif;
} */